{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% block title%}
  {% endblock%}
<link  href="{% static "css/blog.css" %}" rel="stylesheet"> 
</head>
<body>

  <div class='header'>
    <h1> Мой первый проект на Django </h1>
    <p>Создание проекта блога с шаблонами HTML5 и стилистикой CSS.</p>
  </div>

  <div class='topnav'>
    <li><a href='https://onliner.by'> Onliner.by </a></li>
      <li><a href=""class ='down'> Руководства по вёрстке </a>
        <ul class="submenu">
          <li><a href="https://developer.mozilla.org/ru/docs/Web/CSS">Руководство по CSS от Mozilla </a></li>
          <li><a href="https://developer.mozilla.org/ru/docs/Web/HTML">Руководство по HTML5 от Mozilla</a></li>
          <li><a href="https://html5book.ru/css3-animation/">CSS3 - анимация</a></li>
        </ul>
      </li>
    <li><a href=""class ='down'> Руководство по Django </a>
      <ul class="submenu">
        <li><a href="https://django.fun/en/cbv/Django/2.2/django.views.generic.base/View/">Документация по Django</a></li>
        <li><a href="https://ru.stackoverflow.com">Stackoverflow - обратиться за помощью</a></li>
        <li><a href="https://developer.mozilla.org/ru/docs/Web/HTTP">Руководство по HTTP от Mozilla</a></li>
      </ul>
    </li>
  </div>

  <div class="row"> 
    <div class="leftcolumn">
      <div class="card">
        <p>
          {% block content %} 
          {% endblock %}
        </p>
      </div>
    </div>
    
  

    <div class="rightcolumn">
      <div class="card">
        <h2>Обо мне</h2>
        <div class="fakeimg" style="height:100px;"> Вставить изображение</div>
        <p>Краткая информация</p>
    </div>
    
    <div class="card">
        <h3>Популярные статьи</h3>
        <div class="fakeimg"><p>Изображение</p></div>
        <div class="fakeimg"><p>Изображение</p></div>
        <div class="fakeimg"><p>Изображение</p></div>
    </div>
      
    <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
      </div>
    </div>
  </div>
    
  <footer id='nav-footer' class='class-footer>
    <div class='center'>
      <a href="/ru/" class="nav-footer-logo">Веб-документация MDN</a>
       <div class="footer-group footer-group-mdn">
         <h2 class='footer-title'>MDN</h2>
         <ul class='footer-list'>
           <li>
             <a href='https://developer.mozilla.org/ru/docs/Learn'>Изучение Веб-разработки </a>
           </li>                                                    
           <li class='footer-social'>
             <a href='https://twitter.com/mozdevnet'> 
           </li>
           <li class='footer-social'> 
             <a href='https://github.com/mdn/'> </a>
           </li> 
          </ul> 
       </div>                                         
    </div>    
  </footer>
</body>
</html>
